<div class="container mt-5">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>

  <div class="mt-4">
    <%= link_to "Back", posts_path, class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</div>
